
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.cache
*.json.cache
*.log
*.user
*.userosscache
*.suo
*.sln.docstates
.vscode/
*.csproj.user
*.tmp
*.temp
*.nupkg
novapasta.sln 

# isso aqui é pro banco de dados e o dll ir junto nesse caso
!publish/*.dll
!publish/**/*.dll
!publish/*.json
!publish/**/*.json
